<div class="profile">
  <button class="sign-out-btn"
          (click)="signOut()">
    Sign-out
  </button>
  <h3 class="profile-name">{{currentUser}}</h3>
</div>
<div class="main-content">
  <div class="uploader">
    <h1>JSON Interpreter</h1>
    <ngx-dropzone
      class="drop-zone"
      (change)="onFileChanged($event)"
      [accept]="'application/json'">
      <ngx-dropzone-label>Drop JSON here! <br> or <br> Click here to select JSON!</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <p *ngIf="selectedData.length > 0" class="file-names">
      Selected files:
      <span *ngFor="let fileName of selectedData">
        {{fileName.fileName}},&nbsp;
      </span>
    </p>
    <button class="visualize-json-btn"
            type="button"
            (click)="uploadJson()"
            *ngIf="!shouldUpload">
      Upload
    </button>
    <button class="visualize-json-btn"
            type="button"
            (click)="clearAllJson()"
            *ngIf="shouldUpload">
      Clear
    </button>
    <app-list-uploaded-files (selectedRecord)="readSelectedRecord($event)"></app-list-uploaded-files>
    <button class="visualize-json-btn"
            type="button"
            (click)="analiseData()"
            *ngIf="showAnalyse">
      Analyse
    </button>
    <app-analyzer [data]="dataToAnalise"
                  *ngIf="loadAnalytics">
    </app-analyzer>
  </div>

  <div *ngIf="loadAnalytics">
    <div class="button-container">
      <button id="toggle-button"
              class="visualize-pie-chart"
              type="button"
              (click)="toggleShowPieChart()"
              [ngClass]="{'green' : !this.showPieChart, 'red': this.showPieChart}">
        {{pieChartStatus}}
      </button>

      <button id="toggle-button"
              class="visualize-line-chart"
              type="button"
              (click)="toggleShowLineChart()"
              [ngClass]="{'green' : !this.showLineChart, 'red': this.showLineChart}">
        {{lineChartStatus}}
      </button>
    </div>

    <div class="charts-container">
      <div>
        <section *ngIf="showPieChart" class="pieChartDiagram">
          <app-pie-chart></app-pie-chart>
        </section>
      </div>

      <div>
        <section *ngIf="showLineChart" class="lineChartDiagram">
          <app-line-chart></app-line-chart>
        </section>
      </div>
    </div>
  </div>
</div>
